<html>
	<head>
		<script src="../bower_components/jquery/dist/jquery.min.js"></script>
		<script src="../bower_components/angular/angular.min.js"></script>
		<script src="../bower_components/flatui/dist/js/flat-ui.min.js"></script>
		<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="js/viewOneTask.js"></script>
		<script src="js/TaskDao.js"></script>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    	<link rel="stylesheet" href="../bower_components/flatui/dist/css/flat-ui.min.css"/>
		<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css"/>
    	<link rel="stylesheet" href="../bower_components/flatui/dist/css/flat-ui.css"/>
		<script src="../bower_components/flatui/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="../bower_components/flatui/js/jquery.ui.touch-punch.min.js"></script>
		<script src="../bower_components/flatui/js/bootstrap-select.js"></script>
		<script src="../bower_components/flatui/js/bootstrap-switch.js"></script>
		<script src="../bower_components/flatui/js/flatui-checkbox.js"></script>
		<script src="../bower_components/flatui/js/flatui-radio.js"></script>
		<script src="../bower_components/flatui/js/jquery.tagsinput.js"></script>
		<script src="../bower_components/flatui/js/jquery.placeholder.js"></script>
		<script src="../bower_components/flatui/js/jquery.stacktable.js"></script>
		<script src="../bower_components/flatui/js/application.js"></script>			
		<title>Task Keeper</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body ng-app="ViewOne" ng-controller="viewOneController" class="form-group">
				<div class="container">
			<div class="row" style="float:left;margin-bottom:20px;margin-left:20px">
				<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">  
					<a href="viewAllTasks.html" class="btn btn-large btn-block btn-info" style="width:80px;">Home</a>
				</div>
				<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">
					<a href="index.html" class="btn btn-large btn-block btn-info" style="width:80px;">Add</a>
				</div>
				<div class="span3" style="float:right;margin-bottom:20px;margin-left:20px;">
					<a href="#" class="btn btn-large btn-block btn-info" style="width:80px;" onclick="windowControl()">Close</a>
				</div>
			</div>
		</div>
		<div class="form-group" align="center">
		<div class="form-group" align="left" style="width:600px;padding-left:15px;">
			<div class="form-group">
				<h1 class="logo">Task Details</h1>
			</div>
			<div class="form-group form-group-lg">
					<u><h6 class="h6 small">Task Name :</h6></u>
					<b><div class="span4" type="text" ng-model="task.code" ng-bind="task.code"
					></div></b>
			</div>
			<div class="form-group form-group-lg">
					<u><h6 class="h6 small">HO FORM No :</h6></u>
					<b><div class="span4" type="text" ng-model="task.hoformno" ng-bind="task.hoformno"
					></div></b>
			</div>
			<div class="form-group form-group-lg">
					<u><h6 class="h6 small">Task Level :</h6></u>
					<b><div class="span4" type="text" ng-model="task.taskLevel" ng-bind="task.taskLevel"
					></div></b>
			</div>
			<div class="form-group form-group-lg">
					<u><h6 class="h6 small">Mail Sub :</h6></u>
					<b><div class="span4" type="text" ng-model="task.mailSub" ng-bind="task.mailSub"
					></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">DEV Date :</h6></u>
				<b><div class="span4" type="text" ng-model="task.devDate" ng-bind="task.devDate" 
				></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">SQA Date :</h6></u>
				<b><div class="span4" type="text" ng-model="task.sqaDate" ng-bind="task.sqaDate" 
				></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">IUAT Date :</h6></u>
				<b><div class="span4" type="text" ng-model="task.iuatDate" ng-bind="task.iuatDate" 
				></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">ILIVE Date :</h6></u>
				<b><div class="span4" type="text" ng-model="task.iliveDate" ng-bind="task.iliveDate" 
				></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">File List :</h6></u>
				<b><div class="span4" style="white-space: pre-line" ng-model="task.fileList" ng-bind="task.fileList"
				></div></b>
			</div>
			<div class="form-group form-group-lg">
				<u><h6 class="h6 small">Remarks :</h6></u>
				<b><div class="span4" ng-model="task.remarks" ng-bind="task.remarks"
				></div></b>
			</div>
			<div class="span3" style="float:left;margin-bottom:20px;margin-left:20px;">
					<a href="viewAllTasks.html" class="btn btn-large btn-block btn-info" style="width:80px;">Back</a>
			</div>
		</div>
		</div>
	</body>
</html>